<h1>
  List of all movies
</h1>

<hr>

<div>
  <%= link_to "New movie", new_movie_path %>
</div>

<hr>

<% @movies.each do |movie| %>
  <div>
    <%= render partial: "movies/movie", locals: { movie: movie } %>
  </div>

<% end %>
